/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
	--color-win: #78cf82;
	--color-lose: #d94545;
	--color-start: #5b85b7;
	--color-neutral: #445069;
	--color-neutral-light: #d2d2d2;
	--color-keys: #37474f;
	--color-keys-light: #e5e5e5;
	--font-size-large: 60px;
	--font-size-medium: 20px;
	--transition: all .2s ease-in-out;
}

.key {
	box-shadow: 2.5px 5px 9px #5fcf7f;
}

/* main */

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	justify-content: space-evenly;
	flex-direction: column;
	display: flex;
	height: 100vh;
	background: #000;
}

li,
ol,
ul {
	padding: 0;
	display: inline-block;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: var(--font-size-large);
	margin: 0;
}

h1 {
	font-size: 20px;
}

/* lives (icons) */
/* #scoreboard ol img {
	box-shadow: 10px 10px 5px grey;
} */

.flash {
	-moz-animation: flash 4s ease-out;
	-moz-animation-iteration-count: infinite;

	-webkit-animation: flash 4s ease-out;
	-webkit-animation-iteration-count: infinite;

	-ms-animation: flash 4s ease-out;
	-ms-animation-iteration-count: infinite;
}

@keyframes flash {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #fffa73;
	}
	100% {
		background-color: transparent;
	}
}

@-webkit-keyframes flash {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #fffa73;
	}
	100% {
		background-color: transparent;
	}
}

@-moz-keyframes flash {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #fffa73;
	}
	100% {
		background-color: transparent;
	}
}

@-ms-keyframes flash {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #fffa73;
	}
	100% {
		background-color: transparent;
	}
}

button {
	margin: 6px;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	color: var(--color-keys);
	font-size: var(--font-size-medium);
	background-color: var(--color-keys-light);
	border-radius: 5px;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	cursor: pointer;
}

/* #btn__reset {
	width: 200px;
	margin: 0 auto;
	animation: pulse 2s infinite;
} */

#btn__reset {
	color: #fff;
	padding: .55em 1.25em;
	background: #6ac773;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 4px;
	transition: all 0.5s;
	animation: pulse 2s infinite;
}
/* Pulse Effect | Reference:
https://stackoverflow.com/questions/44513333/how-to-create-a-pulse-effect-on-an-image-for-a-couple-seconds-when-the-page-load
*/
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 #6ac773;
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(6ac773);
		box-shadow: 0 0 0 0 #6ac773;
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

#btn__reset:hover {
	background: #fff;
	border: 2px solid #353e44;
	color: #6ac773;
}

/* #btn__reset:hover {
	color: white;
	background-color: #6ac773;
} */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	max-height: 900px;
	text-align: center;
}

.section {
	width: 100%;
	padding: 10px;
}

#phrase ul li {
	margin-top: 15px;
}

/* Title */

.header {
	color: #fff;
}

/* Phrase */

.letter {
	font-size: var(--font-size-medium);
	height: 65px;
	width: 65px;
	padding: 20px 1px 0 1px;
	margin-right: 2px;
	color: transparent;
	background: var(--color-neutral-light);
	border-radius: 5px;
}

.space {
	width: 15px;
}

.hide {
	opacity: 0;
}

.show {
	color: #fff;
	background-color: #4ac0d5;
	font-size: 20px;
	height: 65px;
	width: 65px;
	padding: 20px 1px 0 1px;
	margin-right: 2px;
	border-radius: 5px;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

/* Keyboard */

.keyrow {
	display: flex;
	justify-content: center;
}

.chosen {
	background: #3a3f58;
	border-radius: 5px;
	font-size: var(--font-size-medium);
	color: #ffffff;
}

.wrong {
	background: #f7a964;
	color: #ffffff;
}

.btn__reset {
	padding: 16px;
	margin: 50px auto;
	background: #f7a964;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	border-bottom: solid 4px rgba(0, 0, 0, .3);
	border-right: solid 3px rgba(0, 0, 0, .3);
}

.btn__reset:active {
	padding: 14px 16px 16px 14px;
	border-bottom: solid 4px rgba(0, 0, 0, 0);
	border-right: solid 3px rgba(0, 0, 0, 0);
}

/* Overlay */

#overlay {
	display: flex;
	flex-direction: column;
	position: fixed;
	color: #ffffff;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
}

.title {
	color: #fff;
	/* margin-top: 15vh; */
}

#center {
	position: absolute;
	top: 40%;
	left: 30%;
}

@media only screen and (min-width: 915px) and (max-width: 1100px) {
	#center {
		left: 25%;
	}
}

@media only screen and (min-width: 770px) and (max-width: 914px) {
	#center {
		left: 22%;
	}
}

@media only screen and (max-width: 769px) {
	#center {
		left: 13%;
	}
}

.start {
	background-color: #000;
}

.start a {
	color: #fff;
}

.win {
	background-color: var(--color-win);
}

.win a {
	color: var(--color-win);
}

.lose {
	background-color: #f5785f;
}

.lose a {
	color: var(--color-lose);
}

/* Canvas - Confetti*/
.hideMe {
	display: none;
	opacity: 0;
}

#showMe {
	display: block;
	opacity: 1 !important;
	position: absolute;
}

/* Canvas - Floating Text */
#c {
	position: absolute;
	z-index: -9999;
}
